
  

.create-schedule-container {
    margin-left: 50px; 
    /* margin-top: 1px; */
    display: flex;
    max-height: fit-content;
    
   
     width: 300px;
/*height: 772px;
top: 98px;
left: 248px;
gap: 0px;
opacity: 0px; */


  }

.create-schedule {
    width: 300px;
    padding: 20px;
    /* border-radius: ; */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(245, 244, 244, 0.1);
  }
  
  .create-schedule h2 {
    margin: 0  0 ; 
    margin-bottom:2px;
    color: rgba(3, 2, 41, 1);
   font-weight: 700;
   font-family: 'Times New Roman', Times, serif;
    width: 280px;
    height: 90px;
    max-height: fit-content;
    padding-left:1px;
    grid-template-columns: max-content;
    /* top: 37px; */
    /*left: 248px;
    gap: 0px;
    opacity: 0px;
    font-family: Nunito;*/
font-size: 24px; 
/*font-weight: 700;
line-height: 32.74px;*/
text-align: left; 
background-color:#F5F6FA;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;


  }
  
  .create-schedule h3 {
    margin: 0 0 1px 0;
    margin-bottom: 20px;
  }
  
  .create-schedule-button, .my-schedule-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4a90e2;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .create-schedule-button {
    background-color: rgba(96, 91, 255, 1);
    margin-top: 20px;
  }
  
  .my-schedule-button {
    border: 1px solid rgb(170, 168, 231);
    background-color:rgba(255, 255, 255, 1);
    color: rgba(96, 91, 255, 1)
  }
  
  .calendar-containerr {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    
  }
  
  .calendar-nav {
    display: flex;
    
  }
  
  .nav-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .calendar-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .calendar-table th, .calendar-table td {
    width: 14%;
    padding: 10px 0;
    text-align: center;
  }
  
  .inactive {
    color: #ccc;
  }
  
  .selected {
    background-color: #4a90e2;
    color: white;
    border-radius: 100%;
  }
  
  .people-section {
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  
  .people-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  
  .person {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .person-info {
    display: flex;
    flex-direction: column;
  }
  
  .person-name {
    font-weight: bold;
  }
  
  .person-email {
    font-size: 12px;
    color: #888;
  }
  